<html>

  <head>
    <title>
      TEMPLATES - Iterative Solvers for Linear Systems
    </title>
  </head>

  <body bgcolor="#EEEEEE" link="#CC0000" alink="#FF3300" vlink="#000055">

    <h1 align = "center">
      TEMPLATES <br> Iterative Solvers <br> for Linear Systems
    </h1>

    <hr>

    <p>
      <b>TEMPLATES</b> 
      is a MATLAB library which 
      implements some common iterative methods of solving a linear system.
    </p>

    <h3 align = "center">
      Languages:
    </h3>

    <p>
      <b>TEMPLATES</b> is available in
      <a href = "../../f77_src/templates/templates.html">a FORTRAN77 version</a> and
      <a href = "../../f_src/templates/templates.html">a FORTRAN90 version</a> and
      <a href = "../../m_src/templates/templates.html">a MATLAB version</a>
    </p>

    <h3 align = "center">
      Related Data and Programs:
    </h3>

    <p>
      <a href = "../../m_src/cg_rc/cg_rc.html">
      CG_RC</a>,
      a MATLAB library which
      implements the conjugate gradient method for solving 
      a positive definite sparse linear system A*x=b, using reverse communication.
    </p>

    <p>
      <a href = "../../datasets/hbsmc/hbsmc.html">
      HBSMC</a>,
      a dataset directory which
      contains large sparse matrices stored in the
      Harwell-Boeing format.
    </p>

    <p>
      <a href = "../../data/mm/mm.html">
      MM</a>,
      a data directory which
      describes a file format which
      is used for storing large sparse matrices in files, as
      well as a web site where many such files can be found.
    </p>

    <p>
      <a href = "../../m_src/mm_to_msm/mm_to_msm.html">
      MM_TO_MSM</a>,
      a MATLAB program which
      reads a Matrix Market file defining a sparse matrix, and creates
      a corresponding MATLAB sparse matrix data structure.
    </p>

    <p>
      <a href = "../../m_src/test_mat/test_mat.html">
      TEST_MAT</a>,
      a MATLAB library which 
      defines test matrices.
    </p>

    <p>
      <a href = "../../m_src/test_matrix/test_matrix.html">
      TEST_MATRIX</a>,
      a MATLAB library which 
      defines test matrices.
    </p>

    <h3 align = "center">
      Reference:
    </h3>

    <p>
      <ol>
        <li>
          Richard Barrett, Michael Berry, Tony Chan, James Demmel,
          June Donato, Jack Dongarra, Victor Eijkhout, Roidan Pozo,
          Charles Romine, Henk van der Vorst,<br>
          Templates for the Solution of Linear Systems:<br>
          Building Blocks for Iterative Methods,<br>
          SIAM, 1994.
        </li>
        <li>
          M. Newman and J. Todd,<br>
          The evaluation of matrix inversion programs,<br>
          Journal of the Society for Industrial and Applied Mathematics,<br>
          Volume 6, 1958, pages 466-476.
        </li>
        <li>
          Solutions to problem E710 (proposed by D H Lehmer): 
          The inverse of a matrix,<br> 
          American Mathematical Monthly,<br> 
          Volume 53, 1946, pages 534-535.
        </li>
        <li>
          <a href = "http://www.netlib.org/templates/index.html">
                     http://www.netlib.org/templates/index.html</a> <br>
          the TEMPLATES web site;
        </li>
      </ol>
    </p>

    <h3 align = "center">
      Source Code:
    </h3>

    <p>
      <ul>
        <li>
          <a href = "bicg.m">bicg.m</a>,
          applies the BiConjugate Gradient iteration.
        </li>
        <li>
          <a href = "bicgstab.m">bicgstab.m</a>,
          applies the BiConjugate Gradient Stabilized iteration.
        </li>
        <li>
          <a href = "cg.m">cg.m</a>,
          applies the Conjugate Gradient iteration.
        </li>
        <li>
          <a href = "cgs.m">cgs.m</a>,
          applies the Conjugate Gradient Squared iteration.
        </li>
        <li>
          <a href = "cheby.m">cheby.m</a>,
          applies the Chebyshev iteration.
        </li>
        <li>
          <a href = "gmres.m">gmres.m</a>,
          applies the Generalized Minimum Residual iteration.
        </li>
        <li>
          <a href = "gs.m">gs.m</a>,
          applies the Gauss-Seidel iteration.
        </li>
        <li>
          <a href = "jacobi.m">jacobi.m</a>,
          applies the Jacobi iteration.
        </li>
        <li>
          <a href = "lehmer.m">lehmer.m</a>,
          generates a Lehmer matrix.
        </li>
        <li>
          <a href = "mm_to_msm.m">mm_to_msm.m</a>,
          reads a Matrix Market file and creates a MATLAB sparse matrix.
        </li>
        <li>
          <a href = "poisson.m">poisson.m</a>,
          generates a Poisson matrix.
        </li>
        <li>
          <a href = "qmr.m">qmr.m</a>,
          applies the Quasi-Minimum Residual (QMR) method.
        </li>
        <li>
          <a href = "r8mat_print.m">r8mat_print.m</a>,
          prints an R8MAT.
        </li>
        <li>
          <a href = "r8mat_print_some.m">r8mat_print_some.m</a>,
          prints some of an R8MAT.
        </li>
        <li>
          <a href = "s_len_trim.m">s_len_trim.m</a>,
          returns the length of a string to the last nonblank.
        </li>
        <li>
          <a href = "sor.m">sor.m</a>,
          applies the Successive Over-Relaxation (SOR) method.
        </li>
        <li>
          <a href = "split.m">split.m</a>,
          returns a splitting of the system matrix for the Jacobi
          and SOR methods.
        </li>
        <li>
          <a href = "timestamp.m">timestamp.m</a>,
          prints the current YMDHMS date as a timestamp.
        </li>
        <li>
          <a href = "wathen.m">wathen.m</a>,
          returns a large sparse positive definite matrix based on
          a 2D grid of 8-node serendipity elements.
        </li>
      </ul>
    </p>

    <h3 align = "center">
      Examples and Tests:
    </h3>

    <p>
      <ul>
        <li>
          <a href = "templates_test.m">templates_test.m</a>,
          calls all the tests.
        </li>
        <li>
          <a href = "templates_test_output.txt">templates_test_output.txt</a>,
          output from a run of all the tests.
        </li>
        <li>
          <a href = "bicg_test.m">bicg_test.m</a>,
          tests BICG.
        </li>
        <li>
          <a href = "bicgstab_test.m">bicgstab_test.m</a>,
          tests BICGSTAB.
        </li>
        <li>
          <a href = "cg_test.m">cg_test.m</a>,
          tests CG.
        </li>
        <li>
          <a href = "cgs_test.m">cgs_test.m</a>,
          tests CGS.
        </li>
        <li>
          <a href = "cheby_test.m">cheby_test.m</a>,
          tests CHEBY.
        </li>
        <li>
          <a href = "gmres_test.m">gmres_test.m</a>,
          tests GMRES.
        </li>
        <li>
          <a href = "gs_test.m">gs_test.m</a>,
          tests GS.
        </li>
        <li>
          <a href = "jacobi_test.m">jacobi_test.m</a>,
          tests JACOBI.
        </li>
        <li>
          <a href = "lehmer_test.m">lehmer_test.m</a>,
          tests LEHMER.
        </li>
        <li>
          <a href = "mm_to_msm_test.m">mm_to_msm_test.m</a>,
          tests MM_TO_MSM.
        </li>
        <li>
          <a href = "poisson_test.m">poisson_test.m</a>,
          tests POISSON.
        </li>
        <li>
          <a href = "qmr_test.m">qmr_test.m</a>,
          tests QMR.
        </li>
        <li>
          <a href = "sor_test.m">sor_test.m</a>,
          tests SOR.
        </li>
        <li>
          <a href = "wathen_test.m">wathen_test.m</a>,
          tests WATHEN.
        </li>
        <li>
          <a href = "wathen_29_29_adg.txt">wathen_29_29_adg.txt</a>,
          a Matrix Market file containing a 29x29 Wathen Finite Element matrix.
        </li>
      </ul>
    </p>

    <p>
      You can go up one level to <a href = "../m_src.html">
      the MATLAB source codes</a>.
    </p>

    <hr>

    <i>
      Last revised on 29 March 2006.
    </i>

    <!-- John Burkardt -->

  </body>

</html>
